body {text-align: center;}
table {margin: auto;}
h4 {text-decoration:line-through}

.a1{
    background-color:#80BCCA;
    text-align: center;
    font-size: 35px;
}

.a2{
      background-color:#80DDCA;
      text-align: center;
      font-size: 25px;
}

.a201{
    background-color:#D9D492;
    text-align: center;
    font-size: 25px;
}

.a3{
    background-color:#BFFBA0;
    text-align: center;
    font-size: 15px;
}

.LightThrough{
    text-decoration: line-through;
}

.STYLE1{
    font-size: 12px;
    color:red;
}

#big{
    width:500px;
    margin:0 auto;
}

table{
    width:500px;
    background:#FDEADA;
    font-size:12px;
}

.left{
    padding-left:15px;
}

body {
    font-size: 18px;
}

#ts{
    width:500px;
    margin:0 auto;
}
